#banner
 .banner_content
  %h1 File Cabinet
  %p Your life's work. Organized, always.
  %button= link_to "Enter", new_user_registration_path

#callouts
 .callout_inner
  .wrapper
   .callout  
    %h2 Organize
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque doloremque ipsa accusamus nemo nisi repellendus quibusdam corrupti esse facilis, corporis similique distinctio pariatur ratione ea ducimus soluta ut autem nulla.

#bottom_cta
 .wrapper
  %h2 Go Ahead!
  %br
  %button= link_to "Join now", new_user_registration_path